By the way, while discussing the nature of invalid curve attacks (ICAs): I don't think I would say they're similar to, or broadly follow the same pattern as, the Racoon attack.

1. The results are different: the Racoon attack decrypts one TLS session at a time, while ICAs recover the long-term/re-used private key, compromising a potentially large number of session at once (plus, with non-ephemeral ECDH, allowing the attacker to impersonate the server too).
2. The techniques used are hardly similar IMO, though perhaps that's more subjective.
3. The Racoon attack takes advantage of a design flaw in the protocol that makes it extremely hard for an implementation not to have side channels, while ICAs rely on the implementation omitting a very simple check that [RFC 8422 section 5.11](https://datatracker.ietf.org/doc/html/rfc8422#section-5.11) clearly says they MUST perform.

This is really a side point, but reading the draft, it bugged me a bit to see ICAs described as side-channel attacks similar to Raccoon.

Hi @mpg, thanks so much for reviewing the draft and commenting on it. You're right that the cited source about invalid curve attacks doesn't directly mention side-channel attacks. However, the online attack assumes that the server uses the double-and-add algorithm, which is vulnerable to side-channel attacks. It definitely seems like it'd be worth clarifying this in the draft.

The text does say that ICA is only "broadly" similar to Raccoon, but there's no reason to argue that they're similar, so I'm happy to remove that comment from the draft.

Thanks @mpg and @cbartle891 :-)
I propose going with "invalid curve attacks similarly exploit secret reuse in order to break security". If that sounds good, I can submit a PR.

(BTW, the situation with invalid curve attacks, where the contents of a message allow an attacker to learn secrets, is sometimes referred to as a "direct message side channel", e.g. in the DROWN paper. Although "direct message side channel" is perhaps an oxymoron. Anyway, I'd be happy as well to remove that comment from the draft.)
